<footer class="footer">
  <div class="container">
    <p>&copy; 2024 Crypto Tracker. All rights reserved.</p>
    <p>
      <a href="https://github.com/">GitHub</a> |
      <a href="https://twitter.com/yourusername">Twitter</a> |
      <a href="https://linkedin.com/in/">LinkedIn</a>
    </p>
  </div>
</footer>
